@model web_app.ViewModels.EmptySearchViewModel

<div class="grid-100">
<div class="information-capture">
    <h1>Empty Search Results</h1>
    <div>
        NO results found for: @Model.SearchTerm
        </div>
    </div>
</div>
