@model web_app.ViewModels.SearchMovieViewModel

<div class="grid-100">
    <div class="information-capture">
        <h1>Enter movie title</h1>
        <div>
            @using (Html.BeginForm("Details", "Trakt", FormMethod.Post))
            {
                <div class="form-section">
                    @Html.LabelFor(_ => _.MovieTitle, "Enter movie title", new { id = "NameLabel", @class = "visually-hidden" })
                    @Html.TextBoxFor(_ => _.MovieTitle, new { @class = "grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" })
                    @Html.ValidationMessageFor(_ => _.MovieTitle, string.Empty, new { @class = "grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100" })
                </div>
                <input type="submit" Value="Update" class="button button-outline button-partialrounded button-bold button-call-to-action" />
            }
        </div>
    </div>
</div>
