.homepage-image {
    padding: 0px 10px 0px 10px;
    background: #8f2d56 no-repeat scroll center center;
    background-size: cover;
    height: 600px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        background-attachment: scroll;
    }

    @supports (-ms-accelerator:true) {
        /* IE Edge 12+ CSS styles go here */
        background-attachment: scroll;
    }
}
