@model web_app.Model.Carousel
    <div class="carousel">
            <a href="@Model.Image">
                <div class="webcast webcast">

                    <div class="webcast-text">
                        <h2>@Model.Title</h2>
                        <p>
                            @Model.Text
                        </p>
                    </div>

                    <div class="webcast-gradient"></div>
                </div>
            </a>
    </div>
