// Colours method inspired by https://standards.usa.gov/colors/

// Greys
$white: #ffffff;
$offWhite: #ebebeb;
$greyLightest: #e1e1e1;
$greyLighter: #cccccc;
$greyLight: #bcbcbc;
$greyMiddle: #999999;
$greyDark: #666666;
$greyDarkest: #333333; 
$black: #000000;